@font-face {
  font-family: "RethinkSans";
  src: url("../../css/font/RethinkSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Geist";
  src: url("../../css/font/Geist-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RethinkSans";
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5rem;
}
@media only screen and (max-width: 1369px) {
  .container {
    padding: 0 4.5rem;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 1064px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    padding: 0 1.25rem;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    padding: 0 0.75rem;
  }
}
@media only screen and (max-width: 350px) {
  .container {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding: 0 0.5rem;
  }
}

header {
  width: 100%;
  z-index: 10;
  padding: 24px 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 1200px) {
  header {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 576px) {
  header {
    padding: 15px 0;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
@media only screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    gap: 23px;
  }
}

.navbar__left-group {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media only screen and (max-width: 1280px) {
  .navbar__left-group {
    gap: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar__left-group {
    gap: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar__left-group {
    gap: 0;
  }
}
@media only screen and (max-width: 576px) {
  .navbar__left-group {
    flex-direction: column;
  }
}

.navbar__logo a {
  text-decoration: none;
  color: #333;
  width: 144px;
  height: auto;
  display: flex;
  align-items: center;
}
.navbar__logo a img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .navbar__logo a {
    width: 120px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar__logo a {
    width: 100px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar__logo a {
    width: 80px;
  }
}

.navbar__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}
@media only screen and (max-width: 1280px) {
  .navbar__links {
    gap: 25px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar__links {
    gap: 20px;
  }
}
.navbar__list-item a {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
.navbar__list-item a:hover {
  color: black;
}
@media only screen and (max-width: 1280px) {
  .navbar__list-item a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar__list-item a {
    font-size: 12px;
  }
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 992px) {
  .navbar__actions {
    gap: 0;
  }
}

.navbar__button {
  background-color: #763cea;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navbar__button:hover {
  background-color: rgb(88.875, 23.625, 219.375);
}
.hero {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.hero__bg {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 820px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .hero__bg {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: 100%;
    padding: 0 1.5rem;
    height: 50vw;
  }
}
.hero__bg-img {
  object-fit: cover;
  width: 100%;
  height: calc(100% + 72px);
}
@media only screen and (max-width: 768px) {
  .hero__bg-img {
    border-radius: 2px;
  }
}
.hero__bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 73.96%;
  height: 100%;
  background: linear-gradient(90deg, #fff 44.71%, rgba(255, 255, 255, 0) 94.15%);
}
@media only screen and (max-width: 768px) {
  .hero__bg-gradient {
    visibility: hidden;
    opacity: 0;
  }
}
.hero__elements {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  max-width: 90rem;
}
.hero__elements .hero__element {
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: 2;
}
.hero__elements .hero__element--1 {
  right: 56px;
  bottom: 337px;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}
@media only screen and (max-width: 992px) {
  .hero__elements .hero__element--1 {
    width: 200px;
    bottom: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__elements .hero__element--1 {
    width: 150px;
    bottom: 1rem;
    right: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .hero__elements .hero__element--1 {
    width: 100px;
    bottom: 1rem;
    right: 2.5rem;
  }
}
.hero__elements .hero__element--2 {
  bottom: 56px;
  right: 56px;
}
@media only screen and (max-width: 992px) {
  .hero__elements .hero__element--2 {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__elements .hero__element--2 {
    width: 17.5rem;
    bottom: 1rem;
    left: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .hero__elements .hero__element--2 {
    width: 200px;
    bottom: 1rem;
    left: 2.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__elements .hero__element--2 {
    width: 150px;
    bottom: 1rem;
    left: 2.5rem;
  }
}
.hero__content {
  padding: 50px 0;
  width: 780px;
  position: relative;
}
@media only screen and (max-width: 992px) {
  .hero__content {
    width: 100%;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0;
  gap: 32px;
  width: 100%;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .hero__text {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 576px) {
  .hero__text {
    gap: 20px;
  }
}
.hero__title {
  width: 100%;
  font-family: "RethinkSans";
  font-weight: 600;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -0.02em;
  color: #171938;
  text-align: left;
}
@media only screen and (max-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 72px;
  }
}
@media only screen and (max-width: 1064px) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 992px) {
  .hero__title {
    width: 480px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 50px;
    line-height: 50px;
    width: 100%;
  }
}
.hero__subtitle {
  width: 521px;
  font-family: "RethinkSans";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  .hero__subtitle {
    font-size: 15px;
    line-height: 18px;
    width: 300px;
  }
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 0.25rem;
  border: none;
  width: 15.0625rem;
  height: 4rem;
  background: #763cea;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero__btn:hover {
  background-color: rgb(88.875, 23.625, 219.375);
}
@media only screen and (max-width: 576px) {
  .hero__btn {
    width: 70%;
    max-width: 17.5rem;
    height: 3.125rem;
  }
}
.hero__btn-text {
  font-family: "RethinkSans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .hero__btn-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media only screen and (max-width: 480px) {
  .hero__btn-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 56px;
  margin: 0px auto;
}
@media only screen and (max-width: 1200px) {
  .features {
    padding: 200px 0;
    gap: 50px;
  }
}
@media only screen and (max-width: 1064px) {
  .features {
    gap: 45px;
  }
}
@media only screen and (max-width: 992px) {
  .features {
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .features {
    gap: 35px;
  }
}
@media only screen and (max-width: 576px) {
  .features {
    gap: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .features {
    padding: 40px 0;
  }
}
.features__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  max-width: 920px;
}
@media only screen and (max-width: 992px) {
  .features__text {
    gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .features__text {
    gap: 16px;
  }
}
.features__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  gap: 2px;
  width: 396px;
  height: 28px;
  background: #efebff;
  border-radius: 999px;
}
.features__subtitle p {
  width: 380px;
  height: 20px;
  font-family: "RethinkSans";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #763cea;
}
@media only screen and (max-width: 1064px) {
  .features__subtitle p {
    width: 100%;
    font-size: 13px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 992px) {
  .features__subtitle {
    padding: 3px 6px;
  }
  .features__subtitle p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .features__subtitle {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 2px 5px;
  }
  .features__subtitle p {
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 480px) {
  .features__subtitle p {
    font-size: 10px;
    height: 15px;
  }
}
@media only screen and (max-width: 375px) {
  .features__subtitle {
    max-width: 240px;
  }
  .features__subtitle p {
    font-size: 8px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .features__subtitle {
    max-width: 200px;
  }
  .features__subtitle p {
    font-size: 6px;
    line-height: 14px;
  }
}
.features__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 920px;
  height: auto;
}
.features__desc-title {
  font-family: "RethinkSans";
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000;
}
.features__desc p {
  width: 100%;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000;
}
@media only screen and (max-width: 1280px) {
  .features__desc {
    width: 80%;
  }
  .features__desc-title {
    font-size: 68px;
  }
  .features__desc p {
    font-size: 19px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .features__desc {
    width: 90%;
  }
}
@media only screen and (max-width: 1064px) {
  .features__desc {
    width: 95%;
  }
}
@media only screen and (max-width: 992px) {
  .features__desc {
    width: 95%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .features__desc {
    width: 90%;
  }
  .features__desc-title {
    font-size: 64px;
  }
}
@media only screen and (max-width: 640px) {
  .features__desc {
    width: 100%;
  }
  .features__desc-title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .features__desc {
    width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .features__desc {
    width: 95%;
  }
}
@media only screen and (max-width: 375px) {
  .features__desc {
    width: 95%;
  }
  .features__desc-title {
    font-size: 50px;
    line-height: 50px;
  }
  .features__desc p {
    font-size: 15px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 350px) {
  .features__desc {
    width: 95%;
  }
}
@media only screen and (max-width: 320px) {
  .features__desc {
    width: 95%;
  }
}
.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 32px;
}
@media only screen and (max-width: 1280px) {
  .features__list {
    gap: 28px;
  }
  .features__list .features__item {
    flex: 0 0 calc(50% - 14px);
    max-width: calc(50% - 14px);
  }
}
@media only screen and (max-width: 992px) {
  .features__list {
    gap: 24px;
  }
  .features__list .features__item {
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
}
@media only screen and (max-width: 576px) {
  .features__list {
    gap: 85px;
    flex-direction: column;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 32px;
  width: 296px;
  height: auto;
  flex-shrink: 0;
}
@media only screen and (max-width: 1200px) {
  .features__item {
    width: 280px;
    gap: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .features__item {
    width: 100%;
    margin: 0 auto;
    gap: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .features__item {
    width: 100%;
    gap: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .features__item {
    width: 95%;
    gap: 12px;
  }
}
.features__item h3 {
  font-family: "RethinkSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #171938;
}
.features__item p {
  font-size: 18px;
  font-weight: 400;
  font-family: "RethinkSans";
  text-align: center;
  line-height: 28px;
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .features__item p {
    width: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .features__item p {
    font-size: 15px;
  }
}
.features__icon {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__icon img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 992px) {
  .features__icon {
    height: 64px;
  }
}
@media only screen and (max-width: 576px) {
  .features__icon {
    height: 64px;
  }
}
@media only screen and (max-width: 480px) {
  .features__icon {
    height: 64px;
  }
}

.about {
  margin-top: 114px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 67px;
  width: 100%;
  height: auto;
  min-height: 500px;
}
@media only screen and (max-width: 1369px) {
  .about {
    margin-top: 100px;
    gap: 60px;
  }
}
@media only screen and (max-width: 1280px) {
  .about {
    margin-top: 90px;
    gap: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .about {
    margin-top: 80px;
    gap: 40px;
  }
}
@media only screen and (max-width: 1064px) {
  .about {
    margin-top: 70px;
    gap: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .about {
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
    min-height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    margin-top: 50px;
    gap: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .about {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .about {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .about {
    margin-top: 20px;
  }
}
.about__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 617px;
  height: 100%;
  justify-content: center;
  flex-shrink: 0;
}
@media only screen and (max-width: 1369px) {
  .about__left {
    width: 55%;
    gap: 28px;
  }
}
@media only screen and (max-width: 1280px) {
  .about__left {
    width: 50%;
    gap: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  .about__left {
    width: 48%;
    gap: 20px;
  }
}
@media only screen and (max-width: 1064px) {
  .about__left {
    width: 45%;
    gap: 18px;
  }
}
@media only screen and (max-width: 992px) {
  .about__left {
    width: 100%;
    align-items: start;
    text-align: start;
    gap: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .about__left {
    gap: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .about__left {
    gap: 24px;
  }
}
@media only screen and (max-width: 375px) {
  .about__left {
    gap: 20px;
  }
}
.about__heading {
  width: 100%;
  font-family: "RethinkSans";
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.04em;
  color: #171938;
  height: auto;
}
@media only screen and (max-width: 1369px) {
  .about__heading {
    font-size: 68px;
    line-height: 76px;
  }
}
@media only screen and (max-width: 992px) {
  .about__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 640px) {
  .about__heading {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .about__heading {
    font-size: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .about__heading {
    font-size: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 320px) {
  .about__heading {
    font-size: 40px;
    line-height: 40px;
  }
}
.about__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 576px) {
  .about__list {
    gap: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .about__list {
    gap: 8px;
  }
}
.about__item {
  font-family: "RethinkSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: -0.03em;
  color: #171938;
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .about__item {
    font-size: 17px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .about__item {
    font-size: 16px;
    line-height: 16px;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .about__item {
    font-size: 12px;
    line-height: 12px;
    width: 100%;
  }
}
.about__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #22d3bb;
  border-radius: 50%;
  flex-shrink: 0;
}
.about__check img {
  width: 20px;
  height: 20px;
  display: block;
}
@media only screen and (max-width: 992px) {
  .about__check {
    width: 24px;
    height: 24px;
  }
  .about__check img {
    width: 18px;
    height: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .about__check {
    width: 20px;
    height: 20px;
  }
  .about__check img {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .about__check {
    width: 18px;
    height: 18px;
  }
  .about__check img {
    width: 14px;
    height: 14px;
  }
}
.about__right {
  width: 596px;
  height: 624px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1369px) {
  .about__right {
    width: 588px;
    height: 615px;
  }
}
@media only screen and (max-width: 1280px) {
  .about__right {
    width: 48%;
  }
}
@media only screen and (max-width: 1200px) {
  .about__right {
    width: 50%;
  }
}
@media only screen and (max-width: 1064px) {
  .about__right {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .about__right {
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .about__right {
    min-height: 400px;
    gap: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .about__right {
    height: 500px;
  }
}
@media only screen and (max-width: 480px) {
  .about__right {
    height: 500px;
  }
}
@media only screen and (max-width: 375px) {
  .about__right {
    height: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .about__right {
    height: 200px;
  }
}
.about__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  transform: scaleX(-1);
  z-index: -1;
}
.about__img-1 {
  position: absolute;
  top: 24px;
  left: 18px;
  width: 276px;
  backdrop-filter: blur(10px);
}
@media only screen and (max-width: 576px) {
  .about__img-1 {
    width: 240px;
  }
}
@media only screen and (max-width: 576px) {
  .about__img-1 {
    width: 170px;
    top: 12px;
    left: 12px;
  }
}
.about__img-2 {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 252px;
  backdrop-filter: blur(10px);
}
@media only screen and (max-width: 576px) {
  .about__img-2 {
    width: 210px;
  }
}
@media only screen and (max-width: 375px) {
  .about__img-2 {
    width: 150px;
    bottom: 12px;
    right: 12px;
  }
}

.contact {
  background-color: #763CEA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;
  gap: 48px;
  isolation: isolate;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: 88px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (max-width: 1440px) {
  .contact {
    padding: 48px 64px;
    gap: 64px;
  }
}
@media only screen and (max-width: 1369px) {
  .contact {
    padding: 40px 56px;
    gap: 40px;
  }
}
@media only screen and (max-width: 1280px) {
  .contact {
    padding: 40px 48px;
    gap: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact {
    padding: 32px 40px;
    gap: 32px;
    margin-top: 72px;
  }
}
@media only screen and (max-width: 1064px) {
  .contact {
    padding: 32px;
    gap: 32px;
    margin-top: 64px;
  }
}
@media only screen and (max-width: 992px) {
  .contact {
    flex-direction: column;
    padding: 40px 32px;
    gap: 32px;
    margin-top: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    padding: 32px 24px;
    gap: 28px;
    margin-top: 48px;
  }
}
@media only screen and (max-width: 640px) {
  .contact {
    padding: 28px 20px;
    gap: 24px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 24px 16px;
    gap: 20px;
    margin-top: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .contact {
    padding: 20px 16px;
    gap: 16px;
    margin-top: 28px;
  }
}
@media only screen and (max-width: 375px) {
  .contact {
    padding: 16px 12px;
    gap: 16px;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 320px) {
  .contact {
    padding: 12px 10px;
    gap: 12px;
    margin-top: 20px;
  }
}
.contact .el1 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.contact .el2 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 380px;
}
@media only screen and (max-width: 768px) {
  .contact .el2 {
    right: 50px;
  }
}
@media only screen and (max-width: 640px) {
  .contact .el2 {
    right: 0;
  }
}
.contact .el3 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.contact .contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 572px;
  margin: 0;
  flex-shrink: 0;
}
@media only screen and (max-width: 1200px) {
  .contact .contact-left {
    width: 50%;
    gap: 14px;
  }
}
@media only screen and (max-width: 1064px) {
  .contact .contact-left {
    width: 55%;
    gap: 12px;
  }
}
@media only screen and (max-width: 992px) {
  .contact .contact-left {
    width: 100%;
    gap: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .contact .contact-left {
    gap: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .contact .contact-left {
    gap: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-left {
    gap: 10px;
  }
}
.contact .contact-left h2 {
  font-family: "RethinkSans";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  width: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}
@media only screen and (max-width: 1369px) {
  .contact .contact-left h2 {
    font-size: calc(60 / 1440 * 100vw);
    line-height: calc(60 / 1440 * 100vw);
  }
}
@media only screen and (max-width: 992px) {
  .contact .contact-left h2 {
    font-size: 50px;
    line-height: 50px;
    width: 80%;
  }
}
.contact .contact-left p {
  font-family: "RethinkSans";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  opacity: 0.7;
  width: 100%;
}
@media only screen and (max-width: 1369px) {
  .contact .contact-left p {
    font-size: 19px;
    line-height: 29px;
  }
}
@media only screen and (max-width: 1280px) {
  .contact .contact-left p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 992px) {
  .contact .contact-left p {
    font-size: 17px;
    line-height: 23px;
  }
}
.contact .contact-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 16px;
  isolation: isolate;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0px 8.93px 9.86px rgba(10, 13, 20, 0.05), 0px 1px 2px rgba(10, 13, 20, 0.03), inset -8px -13px 42px rgba(255, 255, 255, 0.35), inset 8px 11px 16px rgba(255, 255, 255, 0.12);
  border-radius: 16px;
}
@media only screen and (max-width: 1200px) {
  .contact .contact-right {
    padding: 28px;
    gap: 14px;
  }
}
@media only screen and (max-width: 1064px) {
  .contact .contact-right {
    padding: 24px;
    gap: 12px;
  }
}
@media only screen and (max-width: 992px) {
  .contact .contact-right {
    width: 100%;
    padding: 32px;
    gap: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .contact .contact-right {
    padding: 28px;
    gap: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .contact .contact-right {
    padding: 24px;
    gap: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .contact .contact-right {
    padding: 20px;
    gap: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-right {
    padding: 16px;
    gap: 8px;
  }
}
@media only screen and (max-width: 320px) {
  .contact .contact-right {
    padding: 12px;
    gap: 6px;
  }
}
.contact .contact-right .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  gap: 24px;
}
@media only screen and (max-width: 576px) {
  .contact .contact-right .form {
    gap: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-right .form {
    gap: 16px;
  }
}
.contact .contact-right .form input {
  padding: 14px 10px 14px 12px;
  gap: 8px;
  caret-color: #fff;
  color: #fff;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px rgba(10, 13, 20, 0.03);
  border-radius: 10px;
  font-size: 16px;
}
.contact .contact-right .form input:focus {
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.contact .contact-right .form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
@media only screen and (max-width: 576px) {
  .contact .contact-right .form input {
    font-size: 15px;
    padding: 12px 10px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-right .form input {
    font-size: 14px;
    padding: 10px 8px;
  }
}
.contact .contact-right .form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 4px;
  color: #763CEA;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  background: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact .contact-right .form .btn:hover {
  background-color: rgb(229.5, 229.5, 229.5);
}
@media only screen and (max-width: 576px) {
  .contact .contact-right .form .btn {
    height: 44px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-right .form .btn {
    height: 40px;
    font-size: 12px;
  }
}
.contact .contact-right .privacy {
  font-family: "RethinkSans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .contact .contact-right .privacy {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .contact .contact-right .privacy {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .contact .contact-right .privacy {
    font-size: 13px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 320px) {
  .contact .contact-right .privacy {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer {
  margin: 50px 0;
  width: 100%;
  height: 24px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8b8c9b;
}
@media only screen and (max-width: 576px) {
  .footer {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
