.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 56px;
  margin: 0px auto;
  @include breakpoint(md-plus) {
    padding: 200px 0;
    gap: 50px;
  }
  @include breakpoint(md) {
    gap: 45px;
  }
  @include breakpoint(tablet-lg) {
    gap: 40px;
  }
  @include breakpoint(tablet-md) {
    gap: 35px;
  }
  @include breakpoint(mobile-lg) {
    gap: 40px;
  }
  @include breakpoint(mobile-md) {
    padding: 40px 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 24px;
    width: 100%;
    max-width: 920px;
    @include breakpoint(tablet-lg) {
      gap: 20px;
    }
    @include breakpoint(mobile-lg) {
      gap: 16px;
    }
  }
  &__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px 8px;
    gap: 2px;
    width: 396px;
    height: 28px;
    background: #efebff;
    border-radius: 999px;
    p {
      width: 380px;
      height: 20px;
      font-family: "RethinkSans";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.03em;
      color: #763cea;
    }
    @include breakpoint(md) {
      p {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
      }
    }
    @include breakpoint(tablet-lg) {
      padding: 3px 6px;
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
    @include breakpoint(mobile-lg) {
      width: 100%;
      max-width: 320px;
      height: auto;
      padding: 2px 5px;
      p {
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    @include breakpoint(mobile-md) {
      p {
        font-size: 10px;
        height: 15px;
      }
    }
    @include breakpoint(mobile-sm) {
      max-width: 240px;
      p {
        font-size: 8px;
        line-height: 16px;
      }
    }
    @include breakpoint(mobile-xxs) {
      max-width: 200px;
      p {
        font-size: 6px;
        line-height: 14px;
      }
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 920px;
    height: auto;
    &-title {
      font-family: "RethinkSans";
      font-weight: 600;
      font-size: 72px;
      line-height: 80px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #000;
    }
    p {
      width: 100%;
      font-family: "Manrope";
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #000;
    }
    @include breakpoint(lg) {
      width: 80%;
      &-title {
        font-size: 68px;
      }
      p {
        font-size: 19px;
        line-height: 30px;
      }
    }
    @include breakpoint(md-plus) {
      width: 90%;
    }
    @include breakpoint(md) {
      width: 95%;
    }
    @include breakpoint(tablet-lg) {
      width: 95%;
      text-align: center;
    }
    @include breakpoint(tablet-md) {
      width: 90%;
      &-title {
        font-size: 64px;
      }
    }
    @include breakpoint(tablet-sm) {
      width: 100%;
      &-title {
        font-size: 60px;
        line-height: 60px;
      }
    }
    @include breakpoint(mobile-lg) {
      width: 90%;
      text-align: center;
    }
    @include breakpoint(mobile-md) {
      width: 95%;
    }
    @include breakpoint(mobile-sm) {
      width: 95%;
      &-title {
        font-size: 50px;
        line-height: 50px;
      }
      p {
        font-size: 15px;
        line-height: 26px;
      }
    }
    @include breakpoint(mobile-xs) {
      width: 95%;
    }
    @include breakpoint(mobile-xxs) {
      width: 95%;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 32px;
    @include breakpoint(lg) {
      gap: 28px;
      .features__item {
        flex: 0 0 calc(50% - 14px);
        max-width: calc(50% - 14px);
      }
    }
    @include breakpoint(tablet-lg) {
      gap: 24px;
      .features__item {
        flex: 0 0 calc(50% - 12px);
        max-width: calc(50% - 12px);
      }
    }
    @include breakpoint(mobile-lg) {
      gap: 85px;
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
    width: 296px;
    height: auto;
    flex-shrink: 0;
    @include breakpoint(md-plus) {
      width: 280px;
      gap: 28px;
    }
    @include breakpoint(mobile-lg) {
      width: 100%;
      margin: 0 auto;
      gap: 20px;
    }
    @include breakpoint(mobile-md) {
      width: 100%;
      gap: 16px;
    }
    @include breakpoint(mobile-sm) {
      width: 95%;
      gap: 12px;
    }
    h3 {
      font-family: "RethinkSans";
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #171938;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      font-family: "RethinkSans";
      text-align: center;
      line-height: 28px;
      width: 100%;
      @include breakpoint(lg) {
        width: 200px;
      }
      @include breakpoint(tablet-lg) {
        font-size: 15px;
      }
    }
  }
  &__icon {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
    }
    @include breakpoint(tablet-lg) {
      height: 64px;
    }
    @include breakpoint(mobile-lg) {
      height: 64px;
    }
    @include breakpoint(mobile-md) {
      height: 64px;
    }
  }
}
