




@font-face {
    font-family: 'RethinkSans';
    src: url('../../css/font/RethinkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Geist';
    src: url('../../css/font/Geist-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RethinkSans';
}


.container {
    width: 100%;
    max-width: map-get($breakpoints, 'xxl'); // Menggunakan variabel untuk max-width
    margin: 0 auto;
    padding: 0 toRem(80); // Default padding

    // Menggunakan mixin breakpoint
    @include breakpoint('lg-plus') {
        padding: 0 toRem(72);
    }

    @include breakpoint('lg') {
        padding: 0 toRem(80); // Contoh: kembali ke 80px, sesuaikan dengan desain Anda
    }

    @include breakpoint('md-plus') {
        padding: 0 toRem(64);
    }

    @include breakpoint('md') {
        padding: 0 toRem(48);
    }

    @include breakpoint('tablet-lg') {
        padding: 0 toRem(40);
    }

    @include breakpoint('tablet-md') {
        padding: 0 toRem(32);
    }

    @include breakpoint('tablet-sm') {
        padding: 0 toRem(24);
    }

    @include breakpoint('mobile-lg') {
        padding: 0 toRem(20);
    }

    @include breakpoint('mobile-md') {
        padding: 0 toRem(16);
    }

    @include breakpoint('mobile-sm') {
        padding: 0 toRem(12);
    }

    @include breakpoint('mobile-xs') {
        padding: 0 toRem(10);
    }

    @include breakpoint('mobile-xxs') {
        padding: 0 toRem(8);
    }
}

body{
}

