

@font-face {
    font-family: 'RethinkSans';
    src: url('../../css/font/RethinkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Geist';
    src: url('../../css/font/Geist-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RethinkSans';
    
}

.container{
    width: 100%;
    max-width: 1440px; // Atau lebar maksimal yang Anda inginkan
    margin: 0 auto;
    padding: 0 fluidSize(80);


    // // text-align: center;
    // @media only screen and (max-width: 1440px ) {
    //     padding: 0 toRem(80);
    // }
    // @media only screen and (max-width: 1200px ) { 
    //     padding: 0 toRem(64);
    // }
}

body{
}

